section.registration {
  flex: 1;
  overflow-y: scroll;

  form {
    @extend .form-modal;
  }
  .fields {
    overflow: hidden;
  }

  .field {
    float: left;
    width: 50%;

    input {
      box-sizing: border-box;
      padding: 3px;
      width: 100%;

    }

    &:nth-child(odd) {
      width: 47%;
      margin-right: 3%;
    }

  }

  textarea {
    width: 100%;
    box-sizing: border-box;
    padding: 3px;
    height: 150px;
  }

  .type-of-ranters {
    @include clearfix;

    display: block;
    width: 600px;
    margin: 0 auto;
  }

  .type-of-ranter {
    display: block;
    width: 200px;
    float: left;
    text-align: center;

    label {
      display: inline-block;
    }
  }

}